---
import { Card } from '@astrojs/starlight/components';

interface Props {
  title: string;
  url: string;
  description?: string,
  icon?: any
}

const { title, url, description, icon } = Astro.props;
---

<a href={url} style={{ textDecoration: "none" }}>
    <Card title={title} icon={icon}>
        {description}
    </Card>
</a>